.cardcss{
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);}

 .cardcss:hover{
    background-color: #A7343F;
    transition: 50ms;
 }
 
 .cardcss:hover p{
    color: white;
    transition: 50ms;

 }

 .cardcss:hover button{
    background-color: white;
    color: black;
    transition: 50ms;

}