.checkoutMenus{
    /* display: flex; */
    /* align-items: center; */
    display: flex;
    align-items: end;
    gap: 20px;
    margin-top: 60px;
    justify-content: center;
    /* flex-direction: column; */
}
.menu{
    font-weight: 700;
}

.maincontainer{
    margin-top: -50px;
}